* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    background-color: #2DDF5C;
    padding: 10px;

}

.nav__container {
    display: inline-block;
    padding: 10px;

}

.nav__title {
    font-size: 20px;
    color: #10501F;
}

.nav__list-container {
    display: inline-block;
    width: calc(100% - 95px);

}


.nav__list {
    color: #10501F;
    font-weight: 700;
    text-align: right;
}

.nav__item {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    padding: 7px;
    border-bottom: 2px solid #2DDF5C;

}

.nav__item:hover {
    color: #ffff;
    border-bottom: solid #fff;

}

.nav__item--highlight {
    background-color: #FF1B68;
    color: #ffff;
    border-radius: 10px;

}

.nav__item--highlight:hover {
    background-color: #fff;
    border-bottom: solid #2DDF5C;
    color: #FF1B68;
}