* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    background-color: #2DDF5C;

}

.nav__container {
    display: inline-block;
    vertical-align: middle;
}

.nav__title {
    font-size: 22px;
    color: #10501F;
    padding-left: 15px;
}

.nav__list-container {
    display: inline-block;
    width: calc(100% - 95px);
    padding: 5px;
}


.nav__list {
    color: #10501F;
    font-weight: 700;
    text-align: right;
}

.nav__item {
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    border-bottom: 2px solid #2DDF5C;
    padding: 7px;
}

.nav__item:hover {
    color: #ffff;
    border-bottom: solid #fff;

}

.nav__item--highlight {
    background-color: #FF1B68;
    color: #ffff;
    border-radius: 7px;


}

.nav__item--highlight:hover {
    background-color: #fff;
    border-bottom: solid #2DDF5C;
    color: #FF1B68;
}

.banner__img {
    background-image: url(./img/freedom.jpg);
    height: 525px;
}

.banner__title {
    color: #fff;
    position: absolute;
    top: 75px;
    left: 10px;
}

.planes {
    /*por definir*/
}

.planes__text {
    color: #2DDF5C;
    padding: 20px 0;

}