@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 100%;
}

.encabezado {
  padding: 15px;
  background-color: #3e3e3e;
  text-align: center;
  vertical-align: top;
}

.encabezado_contenedor-imagen {
  display: inline-block;
  width: 100px;
}

.encabezado__navegacion {
  display: inline-block;
  padding: 0px;
  margin-left: 20px;
}

.encabezado__enlace {
  display: inline-block;
  margin: 0 20px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.encabezado__enlace--login {
  background-color: #fff;
  color: black;
}

.encabezado__enlace--signup {
  background-color: yellow;
  color: black;
}

.articulo {
  margin: 0px 20px;
  margin-top: 20px;
  box-shadow: -6px -7px 9px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
}

.articulo--diferente .articulo__descripción {
  font-weight: 700;
}

.articulo__contenedor-imagen {
  width: 200px;
}

.articulo__imagen {
  width: 100%;
}

.articulo__descripción {
  padding: 15px;
}

.footer {
  margin-top: 20px;
  background-color: #3e3e3e;
  padding: 20px;
  text-align: center;
}

.footer__contenedor-imagen {
  display: inline-block;
  width: 100px;
}

.footer__navegación {
  display: inline-block;
  margin-left: 20px;
}

.footer__enlace {
  display: inline-block;
  margin-left: 30px;
  color: #fff;
}
