@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,300&display=swap');

body {
  font-family: 'Kanit', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.figura {
  width: 100%;
  border-radius: 100%;
}

.search-box {
  text-align: center;
  background-image: url(../img/light-grey-terrazzo.webp);
  padding: 20px;
}

.app-box {
  margin: 8px;
  margin-top: 20px;
  background-image: url(./img/light-grey-terrazzo.webp);
  padding: 20px;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
}

.app-box__item {
  width: 200px;
  height: 200px;
}

.app-box--modify {
  background-color: aquamarine;
}

.lower {
  padding: 20px;
  text-align: center;
}

.lower__box {
  display: inline-block;
  margin-right: 20px;
}

.lower__btn {
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
}

.lower__btn--color {
  background-color: black;
  color: white;
}
